<?xml version="1.0" encoding="UTF-8"?>
<!-- copy this to  /Library/LaunchDaemons -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.fluffyhome.ecm1240-2</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
	  <string>/usr/bin/ecm-server</string>
	  <string>/dev/cu.USA19Hfd311P1.1</string>
	  <string>http://www.fluffyhome.com/sensorValues/</string>
	</array>
</dict>
</plist>
