
html {
	min-width: 320px; 
} 

h1 {
	font-size: 100%;
	margin: 0;
	float: left;
}

h1 a {
	display: block;
	height: 45px;
	width: 79px;
	text-indent: -2000em;
	z-index: 1000; 
}

h1 a:hover, h1 a:focus {
	cursor: pointer;
	background-position: 0 -733px;
}


body {
	color: #393733;
	margin: 0;
	padding: 0 0px;
	background: #e5ecf3;
}

body, td, th, textarea, input, select, h2, h3, h4, h5, h6 {
	font: 83%/1.4 arial, helvetica, sans-serif;
}

input {
	line-height: 1;
}

label {
    float: left;
    clear: left;
    width: 110px;
    margin-right: 1em;
    text-align: right;
}

hr {
	height: 1px;
	background: #ccc;
	border: none;
}

img {
	border: none;
}

p {
	line-height: 1.4;
}

form {
	clear: left;
	margin: 0;
}

h2 {
	margin: 0 0 0.2em 0;
	font-size: 185%;
	letter-spacing: -1px;
	font-weight: normal;
	clear: left;
	color: #4E463F;
}

h3 {
	margin: 0 0 0.5em 0;
	font: normal 135%/1 arial,sans-serif;
	letter-spacing: -0.03em;
	clear: left;
	color: #4E463F;
}

a {	
    color: #105CB6; 
    outline: none; 
    cursor: pointer; 
}

a:visited { color: #105CB6; }
a:hover, a:focus { color: #003; }
a:active { color: #000; }

#contents {
	clear: both;
	padding: 0 15px 30px 0;
	margin-top: 7px;
	background: #fff;
}

.main {
	/* margin-right: 330px; */
}

.main {
	/* margin-right: 340px !important; */
}

.left {
	margin-right: 340px !important;
}

.right {
    width: 330px;
    float: right;
}

.tab {
    border-bottom: 2px solid #A5CC7A;
    height: 2.1em;
    clear: left;
    margin-top: 2em;
    padding: 0; 
}

.tab h3 {
    float: left;
    letter-spacing: normal;
    font-size: 105% !important;
    font-weight: bold !important;
    height: 1.5em;
    min-width: 100px;
    text-align: center;
    color: #fff !important;
    padding: 0.6em 5px 0 5px;
    margin: 0 0 0 0px;
    background: #A5CC7A;
}



.sidebar .tab h3 {
    min-width: 8em;
}	

.tab form, .tab .tab-more {
    float: right;
    margin-right: 15px;
    font-weight: bold;
    display: block;
    padding-top: 0.2em;
}

.tab-details a.edit-link {
	background-color: #fff;
	font-size: 100%;
	margin: 0;
	display: inline;
}

.tab-details textarea {
	width: 100%;
	height: 5em;
	font-size: 100%;
	margin: 3px 0;
}

.tab-details .return {
	font-weight: bold;
	float: right;
}

.tab-details {
    background: #eff6e8;
    color: #507d1e;
    padding: 8px 15px;
}

.sidebar .tab-details {
	font-size: 85%;
	padding: 6px;
}

#header {
	background: #1B5790;
	color: #fff;
	float: left;
	width: 100%;
	margin-bottom: 7px;
	position: relative;
}

#header a {
	color: #D2DCF3;
	font-weight: bold;
	text-decoration: none;
}

#header.header-simple {
	background: #1B5790;
}

#header.header-simple .side-header {
	background: #1B5790;
	height: 45px;
}

#header.header-simple .side-header {
	background: #1B5790;
	height: 45px;
}

.side-header a {
	border-left: 1px solid #5481ac;
}


.side-header {
	padding: 0 10px 0 10px;
	float: right;
	margin: 0;
	position: relative;
	min-height: 33px;
} 

.side-header a {
	padding: 5px 10px 4px 10px;
	margin: 11px 0;
        display: block;
        float: left;
        line-height: 1;
        word-spacing: -0.1em;
}

.side-header a.activity {
	margin: 11px 10px 0 -6px;
	padding: 0;
	border: none;
	text-decoration: none;
} 

.side-header a.activity strong {
	padding: 5px 16px 3px 5px;
	display: block;
	height: 15px;
}


.side-header a.activity:hover,
.side-header a.activity:focus,
.side-header a.current {
	cursor: pointer;
	text-decoration: none !important;
}

.side-header a.header-alert, .side-header a.header-alert:hover {
	border: none;
	font-size: 85%;
	color: #ffeb68 !important;
	margin-left: 0px;
	text-decoration: none !important;
}

.side-header a.current {
	background-position: 100% -300px !important;
}

.side-header img {
	vertical-align: middle;
	border: 1px solid #a2c1de;
	padding: 1px;
	position: absolute;
	left: -6px;
	top: 12px;
}

