<?xml version="1.0" encoding="UTF-8"?>
<!-- copy this to  /Library/LaunchDaemons -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.fluffyhome.influxsnmp</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
	  <string>/usr/local/bin/influxsnmp</string>
	  <string>-config</string>
	  <string>/etc/influxsnmp/influxsnmp.cfg</string>
	  <string>-oids</string>
	  <string>/etc/influxsnmp/oids.txt</string>
	  <string>-logs</string>
	  <string>/var/log/influxsnmp</string>
	</array>
</dict>
</plist>

